<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>index</title>
		<meta name="author" content="ezioruan" />
		<!-- Date: 2012-07-23 -->
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/static/css/prettify.css" rel="stylesheet" type="text/css">
		<link href="/static/css/nyroModal.css" rel="stylesheet" type="text/css">
		<link href="/static/css/datetimepicker.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src='/static/js/prettify.js'></script>
		<script type="text/javascript" src='/static/js/bootstrap-datetimepicker.js'></script>
		<script type="text/javascript" src='/static/js/core/core.js'></script>
		{%  endblock %}
		{% block head_extend%}
		{% endblock %}
	</head>
	<body>
		{% block body %}
	</body>
	{% endblock %}
</html>

